* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(222, 194, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 60%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo h1,
.goal h1 {
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(120, 47, 255);
}

input {
  padding: 10px 20px;
  border: none;
}

input:focus {
  outline: none;
}

.btn {
  padding: 10px 20px;
  border: none;
  background-color: rgb(53, 161, 255);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover {
  opacity: 0.7;
}

::placeholder {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1rem;
}

.todos,
.goals {
  list-style-type: none;
  margin-top: 1rem;
}

.todos li,
.goals li {
  letter-spacing: 3px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todos li:first-child,
.goals li:first-child {
  border-top: solid 2px rgb(253, 148, 148);
  padding-top: 10px;
}

.trash {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.trash:hover {
  opacity: 0.6;
}
